/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 14px / 1.4 'Roboto', 'Franklin Gothic Medium', 'Tahoma',
    'sans-serif';
}

h1,
.h1 {
  font-size: rem(50px);
  font-weight: 400;
  margin: 1.4em 0 0.56em;
}

h2,
.h2 {
  font: normal normal 700 20px/33px sans-serif;
  margin: 0;
}
