// https://jonsuh.com/hamburgers/
$hamburger-padding-y: 1em;
$hamburger-layer-width: 40px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 8px;
$hamburger-types: (elastic);

@import 'hamburgers/_sass/hamburgers/hamburgers.scss';
